.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__wrapper {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-page {
    padding-bottom: 148px;
  }
}
@media screen and (max-width: 430px) {
  .contact-page {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 414px) {
  .contact-page {
    padding-bottom: 20px;
  }
}
